*,
*::before,
*::after {
    box-sizing: border-box;
}

/* custom properties */
:root {
  --ff-secondary: 'Readex Pro', sans-serif;
  --ff-primary: 'Playfair Display', serif;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #eddbd3;
  --clr-dark: #303030;
  --clr-accent-light: #D08A7E;
  --clr-accent-dark: #e97265;

  --fs-h1: 3.5rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 3rem;
    --fs-h2: 2.5rem;
    --fs-h3: 1.1rem;
    --fs-body: 1rem;
  }
}

/* General Styles */
body {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-size: var(--fs-body);
  line-height: 1.6;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  overflow-y:scroll;
  /* CSS Smooth Scroll */
}

.nav {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 60px;
  background-color: var(--clr-light);
}

.nav ul {
  display: flex;
  justify-content: space-between;
  font-family: var(--ff-secondary);
  list-style: none;
  width: 100%;
  padding: 0;
}

.nav ul li {
  margin: 0 3rem;
}

.nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  /* Change Color and Font */
  color: var(--clr-dark);
}

.nav ul li a:hover {
  color: var(--clr-accent-dark);
}

.current {
  border-bottom: 3px solid var(--clr-accent-dark);
}

section {
  padding: 5em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

strong { font-weight: var(--fw-bold) }

/* Typography */
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

/* Home section */
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  text-align: center;
}

.welcome-text {
  font-size: var(--fs-h1);
  font-family: var(--ff-primary);
}

.welcome-text > span {
  color: var(--clr-accent-dark);
}

.media {
  padding: 0;
  margin: 0;
}

.media ul {
  padding: 0;
  text-align: center;
  margin-top: 0;
}

/* Link Icons */
.media ul a li {
  list-style: none;
  display: inline-block;
  font-size: 1.5em;
  border: 2px solid var(--clr-dark);
  border-radius: 50%;
  transition: .5s;
  padding: 0.2em 0.5em;
  margin-right: .5em;
  margin-left: .5em;
  color: var(--clr-dark);
}

.media ul a li:hover{
  color: var(--clr-light);
  background: var(--clr-accent-dark);
  border-color:var(--clr-accent-dark);
}

/* Section Backgrounds */
section#home {
    background: var(--clr-light);
}

/* About Section */
.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.emily-img {
  width: 100%;
  height: auto;
  /* Magic! */
  max-width: 500px;
  border: solid 50px var(--clr-dark);
}

.headshot {
  margin-left: 50px;
  margin-right: 25px;
}

.summary {
  width: 540px;
  margin-left: 25px;
  margin-right: 50px;
}

.summary > h1 {
  font-size: 7em;
  padding: 0px;
  margin: 0px;
}

.summary > h2 {
  font-size: 3em;
  font-weight: lighter;
  padding: 0px;
  margin: 0px;
}

.summary > h3 {
  font-size: 1.3em;
  padding: 0px;
  margin: 0px;
}

.summary > p {
  font-size: 1.05em;
  padding: 0px;
  margin: 0px;
}

@media (max-width: 1000px) {
  .nav ul li {
    margin: 0 1em;
  }

  .about-me {
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 100px;
  }

  .headshot {
    margin-left: 0px;
    margin-right: 0px;
  }

  .summary {
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
  }
} 

@media (max-width: 600px) {
  .nav ul li {
    margin: 0 10px;
  }

  .headshot {
    max-width: 400px;
  }

  .portfolio {
    grid-gap: 0px 15px;
  }
}

/* Portfolio Flip Card */
.flip-card {
  background-color: transparent;
  width: 400px;
  height: 250px;
  perspective: 1000px;
  justify-self: center;
}

/* Cropped with 16:10 ratio */
.portfolio-img {
  width:100%;
  height:auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 5px 3px 10px #000000;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: var(--clr-dark);
}

.flip-card-back {
  background-color: rgba(125,125,125,1);
  /* border: 1px solid white; */
  color: white;
  transform: rotateY(180deg);
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
}

.flip-card-back strong{
  color: var(--clr-accent);
  font-size: 18px;
}

/* Portfolio layout */
.my-work {
  background-color: var(--clr-light);
  color: var(--clr-light);
  text-align: center;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 15px 15px;
}

.MSL {
  color: rgb(82,127,192);
}

.MSL:hover {
  text-decoration: underline;
}